* {
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: mediumpurple;
    color: rgb(84, 59, 223);
}
img {
    align-items: center;
    text-align: center;
    display: flex;
    

}